body{
    height: 100vh; 
    width: 100vw;
    background-color: #cf5b5b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 650px;
    width: 375px;
    background-color: #81eb80;
    padding:10px;
    text-align: center;
    border-radius: 20px;
}
img{
    height:250px;
    width: 250px;
    border-radius: 50%;
    border: blue;
}