body{
    height: 100vh; 
    width: 100vw;
    background-color: #1b1212;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 550px;
    width: 350px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
img{
    height:250px;
    width: 250px;
    border-radius: 50%;
}